*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    padding: 100px;
    background-image: url('../assets/Fondo_Inicio.png');
    background-size: cover;
    background-position: center;

}
.hero h1{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: left;
    margin-top: 20%;
}
.botones_inicio{
    display: flex;
    justify-content: left  ;
    margin-top: 20px;

}
.cards{
    display: flex;
    margin-top: 50px;
    width: max-content;
    animation: slide 20s linear infinite;
}

.carousel-viewport {
    overflow: hidden;
    width: 100%;
}

.card {
    flex: 0 0 25vw;
    padding: 10px;
    box-sizing: border-box;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.botones_inicio button{
    background-color: #FFB800;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.botones_inicio a{
    color: white;
    text-decoration: none;
}
.secundario{
    background-color: #F5F5F5;
    padding: 50px;
}
.secundario h2{
    color: #333;
    font-size: 2rem;
    text-align: left   ;
    margin-bottom: 30px;
}